
*{

    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    
}

html, body{

    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: auto;
}

.nav_bar{
    
    background-color: white;
    box-shadow:  1px 1px rgb(216, 215, 215);
    width: 100%;
}

.container_desconto{

    background-color: #005CFF;
    width: 100%;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    
}

.container-desconto_dez{

    background-color: #6220C1;
    border-radius: 5px;
    padding: 2px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_desconto_10{

    font-weight: 100;
    opacity: 88%;
}

.container_avanti{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.container-avanti_esquerda{

    display: flex;
    align-items: center;
    justify-content: end;
    width: 60%;
    gap: 8%;
}

.barra_pesquisa{

    width: 55%;
    border: 1px solid #b5b5b9;
    border-radius: 10px;
    padding: 13px;
    
}

.barra_pesquisa::placeholder{

    font-weight: 500;
    font-size: 14px;
    color: black;
    padding-left: 2%;
}

.lupa_pesquisa{

  position: absolute;
  margin-right: 1%;

}

.container-avanti_direita{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.nome_cliente{
    width: 18%;
    padding-left: 12px;
    font-weight: 400;
}

.imagem_notificacao{

    position: absolute;
    margin-left: 200px;
    margin-bottom: 16px;
}

.container_categorias{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    
}

.container_menu_todas_categorias{

    display: flex;
    width: 14%;
    padding-right: 1%;
    
}

.menu_hamburguer{

   padding-right: 10px;
   padding-left: 7%;
}

.text_todas{

    font-weight:600;
}

.container_departamentos{

    display: flex;
    gap: 5.5%;
}

.text_departamento{

    font-size: 16.6px;
}

.container_desconto_items{

    background-color: rgb(234, 234, 234);
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_geral_super_off{
    display: block;
    width: 40%;
}



.container_super{

    display: flex;
    width: 100%;
}

.text_super{

    font-size: 100px;
    padding-bottom: 20px;
}

.text_sale{
    
    font-size: 100px;
    font-weight: 100;
    padding-bottom: 20px;
}

.container_selecionados_off{

    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.text_itens{

   color: #005CFF;
   font-weight: 400;
   font-size: 30px;
   border-radius: 15px;
   letter-spacing: 6px; 
   
}

.text_off{

    color: #005CFF;
    font-size: 45px;
    padding-top: 20px;
    padding-left: 27%;
}