
*{

    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    
}

html, body{

    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: auto;
}

.nav_bar{
    
    position: absolute;
    background-color: white;
   
    width: 98.9%;
    height: 160px;
}

.container_desconto{

    background-color: #005CFF;
    width: 100%;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    
}

.container-desconto_dez{

    background-color: #6220C1;
    border-radius: 5px;
    padding: 2px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_desconto_10{

    font-weight: 100;
    opacity: 88%;
}

.container_avanti{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.container-avanti_esquerda{

    display: flex;
    align-items: center;
    justify-content: end;
    width: 60%;
    gap: 8%;
}

.barra_pesquisa{

    width: 55%;
    border: 1px solid #b5b5b9;
    border-radius: 10px;
    padding: 13px;
    
}

.barra_pesquisa::placeholder{

    font-weight: 500;
    font-size: 14px;
    color: black;
    padding-left: 2%;
}

.lupa_pesquisa{

  position: absolute;
  margin-right: 1%;

}

.container-avanti_direita{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.nome_cliente{
    width: 20%;
    padding-left: 2%;
    font-weight: 400;
}

.imagem_carinho{
    
    padding-left: 2%;
}

.imagem_notificacao{

    position: absolute;
    margin-left: 13%;
    margin-bottom: 1%;
}

.container_categorias{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    
}

.container_menu_todas_categorias{

    display: flex;
    width: 16%;
    padding-right: 1%;
    
}

.menu_hamburguer{

   padding-right: 5%;
   padding-left: 7%;
}

.text_todas{
    
    width: 100%;
    font-weight:600;
}

.container_departamentos{

    display: flex;
    gap: 4.5%;
}

.text_departamento{

    font-size: 0.9em;
}

.container_desconto_items{

    background-color: rgb(234, 234, 234);
    width: 100%;
    height: 20%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_geral_super_off{

    display: block;
    width: 40%;
}


.container_super{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.text_super{

    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: 600;
    padding-bottom: 4%;
}

.text_sale{
    
    font-size: clamp(2rem, 6vw, 6rem);
    padding-bottom: 4%;
}

.container_selecionados_off{

    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.imagem_cadeira{

    width: 40%;
    height: 100%;
}

.container_text_itens{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_itens{

   color: #005CFF;
   font-weight: 400;
    font-size: clamp(1.5rem, 1.7vw, 1.7rem);
   letter-spacing: 6px; 
   flex-wrap: nowrap;
   
}

.container_text_off{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_off{

    color: #005CFF;
    font-size: 3em;
    padding-top: 4%;
  
}

.container_caneca_geral{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 590px;
    margin-top: 4%;
    
}

.container_caneca_esquerda{

    width: 55%;
    height: 590px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container_img_caneca{
    
    display: flex;
    background-color: #C2C2C2;
    height: 590px;
    width: 65%;
    justify-content: center;
    align-items: center;
}

.imagem_caneca{

    width: 90%;
}


.container_caneca_direita{

    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.text_titulo_caneca{

    padding-left: 4%;
}

.container_text_caneca{

    width: 50%;
    padding-top: 3%;
    padding-left: 4%;
}

.container_geral_localizacao{

    display: flex;
    background-color: #DEDEDE;
    margin-top: 4%;
    height: 600px;
}

.container_esquerdo_localizacao{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_text_titulo_localizacao{

    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 18%;
    color: #4F4F4F;
}

.container_text_localizacao{

    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding-top: 5%;
    
    
    
}

.container_localizacao_img{

    background-color: #005CFF;
    width: 5%;
    border-radius: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text_localizacao{

    width: 38%;
    padding-left: 3%;
}

.imagem_localizacao{

    width: 100%;

}

.container_direita_localizacao{

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.imagem_segunda_caneca{

    width: 60%;
    padding-left: 8%;
}

.container_banner_fundo{

    background-image: url('images/banner_avanti.svg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

.container_mensagem_banner{

    background-color: #005CFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

}

.container_text_cadastre-se{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_cadastre-se{

    padding-top: 3%;

}

.text_newsletter{

    color: #005CFF;
    padding-left: 1%;
    padding-top: 3%;
    
}

.container_geral_cadastro{

    width: 100%;
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_cadastro{

    width: 80%;
    height: 160px;
    padding: 1%;
    border-radius: 10px;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_inputs_cadastro{

  padding-right: 5%;
  width: 20%;
}
.inputs_cadastro{

    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 7%;
    width: 100%;
    
}

.inputs_cadastro::placeholder{

   color: black;
}

.text_acordo{

    padding-left: 0.5%;
}

.text_politica{

    padding-left: 0.5%;
}

.container_button_cadastrar{

    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

.input_check{

    transform: scale(1.5);
}

.button_cadastrar{

    padding: 12%;
    width: 100%;
    background-color: #005CFF;
    color: white;
    border: none;
    border-radius: 10px;
}

.footer{

    margin-top: 5%;
    height: 300px;
    background-color: #F5F5F5;
}